<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WBCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WBCapture.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>7575, 7575</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>200, 500</value>
            </setting>
            <setting name="CapturePosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CaptureSize" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
        </WBCapture.Properties.Settings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>7575, 7575</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>200, 500</value>
            </setting>
            <setting name="CapturePosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CaptureSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>